
<div>
  <mat-toolbar>
    <a href="">
      <img style="width: 118px; height: 28px;"
        src="https://cf.quizizz.com/img/quizizz_logos/white-brandmark-600x164.png">
    </a>
    <span class="as"></span>
    <a href="#">
      <span class="btn-lable-md">Join a game</span>
    </a>
    <span class="btn-lable-md">{{user.TenDangNhap}}</span>
    <div>

      <div class="example-button-row">
        <!-- <button *ngIf="In" mat-raised-button (click)="logout()"><span>Log out</span></button>
        <button *ngIf="Out" mat-raised-button (click)="logout()"><span>Log in</span></button> -->
      </div>
    </div>

  </mat-toolbar>
  <div>
    <!-- <button class="btn btn-success" (click)="showTodos()">AAAA</button> -->

  </div>
  <div>
    <ul>
      <!-- <li *ngFor="let t of totos">{{t}}</li> -->
    </ul>
  </div>
</div>


