<div data-v-3c36f038="" data-v-2bb53aca="" class="update-settings-modal">
  <div data-v-3c36f038=""><label data-v-3c36f038="" for="update-settings-username"
      class="update-settings-instructions">Pick a username that's fun and unique!</label>
      <input data-v-3c36f038=""
      id="update-settings-username" type="text" aria-required="true" class="update-settings-input" [(ngModel)]="user.UserName"></div>
  <div data-v-3c36f038="" class="update-settings-feedback">
  </div>
  <div data-v-3c36f038="" class="update-settings-buttons-container">
    <button data-v-3c36f038="" class="default strip-default-btn-style" (click)=onNoClick()>
      Cancel
    </button><button data-v-3c36f038="" class="primary strip-default-btn-style" (click)=saveUserName() >Save
    </button></div>
</div>
