<div class="kr-modal-body">
  <div class="header">
    <div class="msg">
      <div class="title">Add students to this class</div>
      <div class="sub-title">Share this link with your students</div>
    </div>
  </div>
  <div class="body">
    <textarea type="text" id="link" class="link">http://localhost:4200/join?class=W415069</textarea>
    <div class="link-generation-and-info">
      <div class="generate-link-description "> This link expires in 1 days, but you can always <span
          class="gen-link">generate a new link</span>
      </div>
    </div><button class="copy-link-btn ">Copy link</button></div>
</div>
