.kr-modal-body {
  padding: 0;
}

.header {
  margin-bottom: 16px;
}

.msg {
  display: inline-block;
  width: calc(100% - 92px);
  vertical-align: middle;
  padding-right: 52px;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: #292A3A;
}

.field {
  margin-bottom: 16px;
}

.field.main-field input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.field .err {
  font-size: 13px;
  color: #EC0B43;
  padding: 8px;
}

.optional-settings-container {
  margin-top: 8px;
}

.footer {
  overflow: auto;
}

.field input {
  height: 40px;
  border: 1px solid rgba(41, 42, 58, 0.33);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.create-group-btn {
  font-size: 16px;
  font-weight: 600;
  color: #8854C0;
  padding: 8px 16px;
  background-color: #ede6f6;
  border-radius: 4px;
  float: right;
  cursor: pointer;
}

.cancel-btn {
  font-size: 16px;
  font-weight: 600;
  color: #73747e;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
