mat-label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 2%;
}
mat-form-field {
  margin-top: 5px;
}
.i {
  font-size: 16px;
  font-weight: bold;
  margin-top: 3%;
}
.inputs {
  font-size: 18px !important;
}
.mat-erro {
  font-size: 16px !important;
}
.erro {
  color: red;
}
.col-md-2 {
  font-size: 18px;
  margin: auto;
}
.row-answer {
  border: solid 1px gray;
}
th.mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}
