<div data-v-3c36f038="" data-v-2bb53aca="" class="update-settings-modal">
  <div data-v-3c36f038="">
    <div data-v-3c36f038="" class="update-settings-instructions">Update password</div>
    <form data-v-3c36f038="">
      <label data-v-3c36f038="" for="update-settings-new-pass-1" class="update-settings-password-title">Old
        password</label><input data-v-3c36f038="" id="update-settings-new-pass-1" autocomplete="off" name="new-password"
        type="password" aria-required="true" class="update-settings-input" [(ngModel)]="user1.OldPassword">
      <label data-v-3c36f038="" for="update-settings-new-pass-1" class="update-settings-password-title">Enter new
        password</label><input data-v-3c36f038="" id="update-settings-new-pass-1" autocomplete="off" name="new-password"
        type="password" aria-required="true" class="update-settings-input" [(ngModel)]="user1.NewPassword">
      <label data-v-3c36f038="" for="update-settings-new-pass-2" class="update-settings-password-title">Re-enter new
        password</label><input data-v-3c36f038="" id="update-settings-new-pass-2" autocomplete="off" name="new-password"
        type="password" aria-required="true" class="update-settings-input" [(ngModel)]="user1.ConfirmPassword">
    </form>

    <div data-v-3c36f038="" id="error" style="color: red; padding-bottom: 1rem;" class="update-settings-feedback"><span
        data-v-3c36f038="" class="error">
        The re-entered password doesn't match.
      </span>

    </div>
  </div>

  <div data-v-3c36f038="" class="update-settings-feedback">
  </div>
  <div data-v-3c36f038="" class="update-settings-buttons-container">
    <button data-v-3c36f038="" class="default strip-default-btn-style" (click)=onNoClick()>
      Cancel
    </button><button (click)="ChangePass()" data-v-3c36f038="" class="primary strip-default-btn-style">Save
    </button>
  </div>
</div>