<!-- name -->
<div data-v-3c36f038="" data-v-2bb53aca="" class="update-settings-modal">
  <!---->
  <div data-v-3c36f038=""><label data-v-3c36f038="" for="update-settings-first-name"
      class="update-settings-name-title">Enter first name</label>
    <input data-v-3c36f038="" id="update-settings-first-name" autocomplete="off" name="first-name" type="text"
      aria-required="true" class="update-settings-input" value="{{user.FirstName}}">
    <label data-v-3c36f038="" for="update-settings-last-name" class="update-settings-name-title">
      Enter last name </label>
    <input data-v-3c36f038="" id="update-settings-last-name" autocomplete="off" name="last-name" type="text"
      aria-required="true" maxlength="-1" class="update-settings-input" value="{{user.LastName}}">
  </div>
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <div data-v-3c36f038="" class="update-settings-feedback">
    <!---->
    <!---->
  </div>
  <div data-v-3c36f038="" class="update-settings-buttons-container">
    <!---->
    <button data-v-3c36f038="" class="default strip-default-btn-style" (click)=onNoClick()>
      Cancel
    </button>
    <button data-v-3c36f038="" class="primary strip-default-btn-style" mat-stroked-button (click)=saveName()>Save
      <!---->
    </button>
  </div>
</div>


