<!-- grade -->
<div data-v-3c36f038="" data-v-2bb53aca="" class="update-settings-modal">
    <!---->
    <!---->
    <div data-v-3c36f038="">
        <label data-v-3c36f038="" for="update-settings-grade"
        class="update-settings-instructions">What grade are you in?
        </label><br>
        <select data-v-3c36f038="" id="update-settings-grade">
        <option data-v-3c36f038="" value="0">Kindergarten</option>
        <option data-v-3c36f038="" value="1">1st Grade</option>
        <option data-v-3c36f038="" value="2">2nd Grade</option>
        <option data-v-3c36f038="" value="3">3rd Grade</option>
        <option data-v-3c36f038="" value="4">4th Grade</option>
        <option data-v-3c36f038="" value="5">5th Grade</option>
        <option data-v-3c36f038="" value="6">6th Grade</option>
        <option data-v-3c36f038="" value="7">7th Grade</option>
        <option data-v-3c36f038="" value="8">8th Grade</option>
        <option data-v-3c36f038="" value="9">9th Grade</option>
        <option data-v-3c36f038="" value="10">10th Grade</option>
        <option data-v-3c36f038="" value="11">11th Grade</option>
        <option data-v-3c36f038="" value="12">12th Grade</option>
        <option data-v-3c36f038="" value="13">University</option>
      </select></div>
    <!---->
    <!---->
    <!---->
    <!---->
    <div data-v-3c36f038="" class="update-settings-feedback">
      <!---->
      <!---->
    </div>
    <div data-v-3c36f038="" class="update-settings-buttons-container">
      <!----><button data-v-3c36f038="" class="default strip-default-btn-style" (click)=onNoClick()>
        Cancel
      </button><button data-v-3c36f038="" class="primary strip-default-btn-style">Save
        <!----></button></div>
  </div>
  
  
