<div data-v-3c36f038="" data-v-2bb53aca="" class="update-settings-modal">
  <!---->
  <!---->
  <!---->
  <!---->
  <div data-v-3c36f038=""><label data-v-3c36f038="" for="update-settings-language"
      class="update-settings-instructions">Are you sure you want to delete your account?
      <br data-v-3c36f038="">
      All your data will be deleted.
    </label>
    <!---->
  </div><br>
  <!---->
  <!---->
  <div data-v-3c36f038="" class="update-settings-feedback">
    <!---->
    <!---->
  </div>
  <div data-v-3c36f038="" class="update-settings-buttons-container">
    <!----><button data-v-3c36f038="" class="default strip-default-btn-style" (click)=onNoClick()>
      Cancel
    </button><button data-v-3c36f038="" class="primary strip-default-btn-style" (click)="deleteAccount()" >Delete Account
      <!----></button></div>
</div>
